h1, h2 {
    text-align: center;
}

ul.row {
    background-color: green;
    text-align: center;
    vertical-align: middle;
}
.nav-item {
    border: 1px solid black;
}


#test {
    background-color: lime;
}
#contact-section {
    font-size: 1.5em;
}
body {
    background-color: black;
}



section:nth-of-type(2n) {
    background-color: gray;
}
section:nth-of-type(2n-1) {
    background-color: yellow;
}


#java:hover {
    color: #f89820;
}
#python:hover {
    color: #4b8bbe;
}
#r:hover {
    color: #165caa;
}
#html:hover {
    color: #e44d26;
}
#css:hover {
    color: #66d3fa;
}
#javascript:hover {
    color: #f0db4f;
}
#matlab:hover {
    color: red;
}

#email:hover {
    color: red;
}
#cell:hover {
    color: lime;
}
#linkedin:hover {
    color: #0077b5;
}
#github:hover {
    color: purple;
}
#facebook:hover {
    color: #3b5998;
}