h1, h2 {
    text-align: center;
}

nav ul.row {
    background-color: green;
    text-align: center;
    vertical-align: middle;
}
.nav-item {
    border: 1px solid black;
}
/* body {
    margin-top: 150px;
} */

section {
    /* margin: 50px; */
    padding: 20px;
}
ul, li {
    list-style-type: none;
    padding: 0px;
}


#contact-section span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}
#contact-section .row {
    padding: 10px 0px;
    font-size: 1.5em;
}
#contact-section button {
    width: 6em;
    height: 4em;
}
body {
    background-color: red;
}



section:nth-of-type(2n) {
    background-color: #95afba;
}
section:nth-of-type(2n-1) {
    background-color: #d5e1a3;
}


.carousel-inner{
    margin: auto;
    max-width: 768px;
    max-height: 500;
}
#programming-section img {
    opacity: 25%;
}
#programming-section img:hover {
    opacity: 80%;
    transition: opacity 0.5s;
}


#email:hover {
    color: red;
}
#cell:hover {
    color: lime;
}
#linkedin:hover {
    color: #0077b5;
}
#github:hover {
    color: purple;
}
#facebook:hover {
    color: #3b5998;
}

#java:hover {
    color: #f89820;
}
#python:hover {
    color: #4b8bbe;
}
#r:hover {
    color: #165caa;
}
#html:hover {
    color: #e44d26;
}
#css:hover {
    color: #66d3fa;
}
#javascript:hover {
    color: #f0db4f;
}
#matlab:hover {
    color: red;
}



#interests-section img {
    width: 100%;
    height: 100%;
    position: absolute;
}
#interests-section img:hover {
    opacity: 25%;
    transition: opacity 0.5s;
}