h1, h2, h4 {
    text-align: center;
}
h2 {
    padding: 10px 0px;
}
h4 {
    margin-top: 20px;
}

nav ul.row {
    background-color: green;
    text-align: center;
    vertical-align: middle;
}
.nav-item {
    border: 1px solid black;
}

section {
    font-size: 18pt;
    padding: 1% 20%;
}
ul, li {
    list-style-type: none;
    padding: 0px;
}
hr {
    width: 300px;
    margin: auto;
}

section:nth-of-type(2n) {
    background-color: #95afba;
}
section:nth-of-type(2n-1) {
    background-color: #d5e1a3;
}



#contact-section span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}
#contact-section .row {
    padding: 10px 0px;
    font-size: 1.5em;
}
#contact-section button {
    width: 6em;
    height: 4em;
}
body {
    background-color: red;
}


.carousel {
    margin: 20px 0px;
}
.carousel-inner {
    font-size: 12pt;
    margin: auto;
    max-width: 768px;
    max-height: 500;
}
.carousel-inner h5 {
    font-size: 16pt;
}
.carousel-caption:hover {
    background-color: rgba(128, 128, 128, 0.75);
    transition: background-color 0.5s;
}
#programming-section img {
    opacity: 25%;
}
#programming-section img:hover {
    opacity: 80%;
    transition: opacity 0.5s;
}

#research-section img {
    opacity: 25%;
}
#research-section img:hover {
    opacity: 80%;
    transition: opacity 0.5s;
}


#email:hover {
    color: red;
}
#cell:hover {
    color: lime;
}
#linkedin:hover {
    color: #0077b5;
}
#github:hover {
    color: purple;
}
#facebook:hover {
    color: #3b5998;
}

#java:hover {
    color: #f89820;
}
#python:hover {
    color: #4b8bbe;
}
#r:hover {
    color: #165caa;
}
#html:hover {
    color: #e44d26;
}
#css:hover {
    color: #66d3fa;
}
#javascript:hover {
    color: #f0db4f;
}
#matlab:hover {
    color: red;
}

#interests-section {
    font-size: 14pt;
    padding: 10px;
}
#interests-section img {
    width: 100%;
    height: 100%;
    position: absolute;
}
#interests-section img:hover {
    opacity: 25%;
    transition: opacity 0.5s;
}
/* #interests-section img {
    width: 30%;
    height: 20%;
} */
/* }
@media (min-width: 100px) {
    .interest {
        display: flex;
        max-width: 30%;
        max-height: 30%;
    }
} */